<html>
    <head>
        <body>
            <div style="text-align: center">
            <h1>It is first page</h1><hr>
            <a href="{% url 'About' %}">4B6<a><br><br>
            {% comment %} <a href="{% url 'Register' %}">Register form</a><br><br> {% endcomment %}
            <a href="{% url 'register1' %}">Register1</a><br><br>
            {% comment %} <a href="{% url 'Login' %}">Login from here</a> {% endcomment %}
            <a href="{% url 'login1' %}">Login1 from here</a>
            <div>
        </body>
    </head>
</html>